In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('./data/otto_train.csv')
data.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

In [3]:
nCar = data.shape[0] # 데이터 개수
nVar = data.shape[1] # 변수 개수
print(f'nCar: {nCar}, nVar: {nVar}')

nCar: 61878, nVar: 95

In [4]:
data.drop(['id'], axis=1, inplace=True)

In [5]:
mapping_dict = {'Class_1':1,
                'Class_2':2,
                'Class_3':3,
                'Class_4':4,
                'Class_5':5,
                'Class_6':6,
                'Class_7':7,
                'Class_8':8,
                'Class_9':9,}

after_mapping_target = data['target'].apply(lambda x: mapping_dict[x])

In [11]:
feature_columns = list(data.columns.difference(['target']))
X = data[feature_columns]
y = after_mapping_target
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=0.2, random_state=42)
print(train_x.shape, test_x.shape, train_y.shape, test_y.shape)

(49502, 93) (12376, 93) (49502,) (12376,)

### 학습데이터를 adaboost 모형에 적합 후 평가 데이터로 검증

In [12]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [14]:
clf = AdaBoostClassifier(n_estimators=100, random_state=0)
clf.fit(train_x, train_y)
pred1 = clf.predict(test_x)

print(accuracy_score(test_y, pred1))

0.6771170006464124

In [15]:
tree_model = DecisionTreeClassifier(max_depth=5)

clf = AdaBoostClassifier(base_estimator=tree_model ,n_estimators=10, random_state=0)
clf.fit(train_x, train_y)
pred1 = clf.predict(test_x)

print(accuracy_score(test_y, pred1))

0.6853587588881707

In [16]:
tree_model = DecisionTreeClassifier(max_depth=5)

clf = AdaBoostClassifier(base_estimator=tree_model ,n_estimators=100, random_state=0)
clf.fit(train_x, train_y)
pred1 = clf.predict(test_x)

print(accuracy_score(test_y, pred1))

0.6216871363930188

In [17]:
tree_model = DecisionTreeClassifier(max_depth=20)

clf = AdaBoostClassifier(base_estimator=tree_model ,n_estimators=10, random_state=0)
clf.fit(train_x, train_y)
pred1 = clf.predict(test_x)

print(accuracy_score(test_y, pred1))

0.7389301874595993

In [19]:
tree_model = DecisionTreeClassifier(max_depth=100)

clf = AdaBoostClassifier(base_estimator=tree_model ,n_estimators=10, random_state=0)
clf.fit(train_x, train_y)
pred1 = clf.predict(test_x)

print(accuracy_score(test_y, pred1))

0.710245636716225