In [1]:
x = 100
if x >= 90 :
    if x == 100 :
        print("Perfect")
    else :
        print("Very Good")
elif x >= 80 and x < 90 :
    print("Good")
else :
    print("Bad")

Perfect

In [2]:
x = 75
if x >= 80:
    pass
else :
    pass

In [14]:
for a in [0,1,2,3,4,5]:
    print(a)

0
1
2
3
4
5

In [15]:
myFriends = ['james', 'Robert', 'Lisa', 'Mary']
for myFriend in myFriends:
    print(myFriend)

james
Robert
Lisa
Mary

In [16]:
x_list = ['x1', 'x2']
y_list = ['y1', 'y2']

print("x y")
for x in x_list:
    for y in y_list:
        print(x, y)

x y
x1 y1
x1 y2
x2 y1
x2 y2

In [17]:
names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]

for k in range(len(names)):
    print(names[k], scores[k])

James 95
Robert 96
Lisa 97
Mary 94

In [18]:
for name, score in zip(names, scores):
    print(name, score)

James 95
Robert 96
Lisa 97
Mary 94

In [19]:
i = 0
summ = 0

print("i sum")
while summ < 20:
    i += 1
    summ += i
    print(i, summ)

i sum
1 1
2 3
3 6
4 10
5 15
6 21

In [20]:
k = 0
while True :
    k += 1
    
    if k > 3:
        break
    print(k)

1
2
3

In [21]:
for k in range(10):
    if k > 2:
        break
    print(k)

0
1
2

In [23]:
for k in range(5):
    if k == 2:
        print("jump!")
        continue
    print(k)

0
1
jump!
3
4

In [25]:
k = 0

while True :
    k += 1
    if k == 2:
        print("continue next")
        continue
    if k > 4:
        break

    print(k)

1
continue next
3
4

In [27]:
numbers = [1,2,3,4,5]
square = []

for i in numbers:
    square.append(i**2)
    
print(square)

[1, 4, 9, 16, 25]

In [28]:
numbers = [1,2,3,4,5]
square = [i**2 for i in numbers]

print(square)

[1, 4, 9, 16, 25]

In [29]:
numbers = [1,2,3,4,5]
square = []

for i in numbers:
    if i >= 3:
        square.append(i**2)
        
print(square)

[9, 16, 25]

In [30]:
numbers = [1,2,3,4,5]
square = [i**2 for i in numbers if i >= 3]

print(square)

[9, 16, 25]