In [3]:
def my_func():
    print("My first function!")
    print("This is a function.")
    
my_func()

My first function!
This is a function.

In [5]:
def my_friend(friendName):
    print("{}는 나의 친구입니다.".format(friendName))
    
my_friend("철수")
my_friend("영희")

철수는 나의 친구입니다.
영희는 나의 친구입니다.

In [8]:
def my_student_info(name, school_ID, phoneNumber):
    print("--------------------------")
    print("- 학생이름: ", name)
    print("- 학급번호: ", school_ID)
    print("- 전화번호: ", phoneNumber)
    
my_student_info("현아", "01", "01-235-6789")
my_student_info("진수", "02", "01-987-6543")

--------------------------
- 학생이름:  현아
- 학급번호:  01
- 전화번호:  01-235-6789
--------------------------
- 학생이름:  진수
- 학급번호:  02
- 전화번호:  01-987-6543

In [9]:
def my_calc(x, y):
    z = x * y
    return z

my_calc(3, 4)

12

In [10]:
def my_student_info_list(student_info):
    print("****************************")
    print("- 학생이름: ", student_info[0])
    print("- 학급번호: ", student_info[1])
    print("- 전화번호: ", student_info[2])
    print("****************************")
    
student1_info = ["현아", "01", "01-235-6789"]
my_student_info_list(student1_info)

****************************
- 학생이름:  현아
- 학급번호:  01
- 전화번호:  01-235-6789
****************************

In [12]:
my_student_info_list(["진수", "02", "01-987-6543"])

****************************
- 학생이름:  진수
- 학급번호:  02
- 전화번호:  01-987-6543
****************************

In [15]:
a = 5

def func1():
    a = 1
    print("[func1] 지역변수 a =", a)

def func2():
    a = 2
    print("[func2] 지역변수 a =", a)
    
def func3():
    print("[func3] 전역변수 a =", a)
    
def func4():
    global a
    a = 4
    print("[func4] 전역변수 a =", a)

In [16]:
func1()
func2()
print("전역변수 a =", a)

[func1] 지역변수 a = 1
[func2] 지역변수 a = 2
전역변수 a = 5

In [17]:
func3()
func4()
func3()

[func3] 전역변수 a = 5
[func4] 전역변수 a = 4
[func3] 전역변수 a = 4

In [20]:
(lambda x : x**2) (3)

9

In [21]:
mySquare = lambda x:x**2
mySquare(2)

4

In [22]:
mySquareFunc = lambda x,y,z : 2*x + 3*y + z
mySquareFunc(1, 2, 3)

11

In [23]:
def print_name(name):
    if bool(name):
        print("입력된 이름:", name)
    else :
        print("입력된 이름이 없습니다")

In [24]:
print_name("예린")

입력된 이름: 예린

In [26]:
print_name("")

입력된 이름이 없습니다

In [28]:
myNum = [10, 5, 12, 0, 3.5, 99.5, 42]
[min(myNum), max(myNum)]

[0, 99.5]

In [30]:
myStr = 'zxyabc'
[min(myStr), max(myStr)]

['a', 'z']

In [31]:
[abs(10), abs(-10)]

[10, 10]

In [32]:
sumList = [1,2,3,4,5,6,7,8,9,10]
sum(sumList)

55

In [33]:
len("ab cd")

5

In [38]:
scores = [90, 80, 95, 85]

score_sum = 0
subject_num = 0

for score in scores:
    score_sum += score
    subject_num += 1

average = score_sum / subject_num

print("총점:{0}, 평균:{1}".format(score_sum, average))

총점:350, 평균:87.5

In [39]:
scores = [90, 80, 95, 85]

print("총점:{0}, 평균:{1}".format(sum(scores), sum(scores)/len(scores)))
print("최하점수:{0}, 최고점수:{1}".format(min(scores), max(scores)))

총점:350, 평균:87.5
최하점수:80, 최고점수:95