In [1]:
%%writefile C:\myPyCode\my_first_module.py
# File name: my_first_module.py

def my_function():
    print("This is my first module.")

Writing C:\myPyCode\my_first_module.py

In [2]:
!type C:\myPyCode\my_first_module.py

# File name: my_first_module.py

def my_function():
    print("This is my first module.")

In [3]:
cd C:\myPyCode

C:\myPyCode

In [4]:
import my_first_module

my_first_module.my_function()

This is my first module.

In [5]:
!echo %PYTHONPATH%

%PYTHONPATH%

In [7]:
%%writefile C:\myPyCode\modules\my_area.py
# File name: my_area.py

PI = 3.14
def square_area(a):
    return a**2

def circle_area(r):
    return PI * r ** 2

Writing C:\myPyCode\modules\my_area.py

In [10]:
cd C:\myPyCode\modules

C:\myPyCode\modules

In [11]:
import my_area

print('pi =', my_area.PI)
print('sqaure area =', my_area.square_area(5))
print('circle area =', my_area.circle_area(2))

pi = 3.14
sqaure area = 25
circle area = 12.56

In [12]:
dir(my_area)

['PI',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'circle_area',
 'square_area']

In [14]:
import random

random.random()    # 0.0<=실수<1.0 범위의 임의의 실수 반환

0.004722440946276718

In [16]:
random.randint(1,45)

35

In [19]:
random.randrange(0, 10, 2)

4

In [25]:
random.choice(range(46))

21

In [31]:
random.sample(range(1, 46), 6)

[3, 40, 22, 19, 35, 2]

In [35]:
import datetime

set_day = datetime.date(2019, 3, 1)
print(set_day)

2019-03-01

In [36]:
print('{0}/{1}/{2}'.format(set_day.year,set_day.month,set_day.day ))

2019/3/1

In [37]:
day1 = datetime.date(2019, 4, 1)
day2 = datetime.date(2019, 7, 10)
diff_day = day2 - day1
print(diff_day)

100 days, 0:00:00

In [38]:
type(day1)

datetime.date

In [39]:
type(diff_day)

datetime.timedelta

In [40]:
print("** 지정된 두 날짜의 차이는 {}일입니다.".format(diff_day.days))

** 지정된 두 날짜의 차이는 100일입니다.

In [41]:
print(datetime.date.today())

2021-12-01

In [42]:
set_time = datetime.time(15, 30, 45)
print(set_time)

15:30:45

In [43]:
print('{0}:{1}:{2}'.format(set_time.hour,set_time.minute,set_time.second ))

15:30:45

In [44]:
set_dt = datetime.datetime(2021, 12, 1, 19, 15, 0)
print(set_dt)

2021-12-01 19:15:00

In [45]:
print('날짜 {0}/{1}/{2}'.format(set_dt.year, set_dt.month, set_dt.day))
print('시각 {0}:{1}:{2}'.format(set_dt.hour, set_dt.minute, set_dt.second))

날짜 2021/12/1
시각 19:15:0

In [46]:
import datetime

now = datetime.datetime.now()
print(now)

2021-12-01 19:16:09.187331

In [47]:
print("Date & Time: {:%Y-%m-%d, %H:%M:%S}".format(now))

Date & Time: 2021-12-01, 19:16:09

In [48]:
print("Date: {:%Y, %m, %d}".format(now))
print("Time: {:%H/%M/%S}".format(now))

Date: 2021, 12, 01
Time: 19/16/09

In [49]:
now = datetime.datetime.now()
set_dt = datetime.datetime(2020, 12, 31, 19, 30, 45)

print("현재 날짜 및 시각:", now)
print("차이:", set_dt - now)

현재 날짜 및 시각: 2021-12-01 19:17:49.950615
차이: -335 days, 0:12:55.049385

In [50]:
import calendar

print(calendar.calendar(2021))

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [51]:
print(calendar.calendar(2022, m=4))

                                               2022

      January                   February                   March                     April
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28                        28 29 30 31               25 26 27 28 29 30
31

        May                       June                      July                     August
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31      29 30 31
30 31

     September                  October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6                1  2  3  4
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
                          31

In [53]:
print(calendar.month(2021,12))

   December 2021
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [55]:
print(calendar.weekday(2021,12,1))

2

In [56]:
print(calendar.isleap(2020))
print(calendar.isleap(2021))

True
False