# Hello python

**python** is reall *good*

- python
 - pandas
   - depth1
   - depth2
 - numpy
- java
- c++
- going



1. python
2. java
3. c++


> python is cool.


$y = 3x$


```python
a = 10
print(a)
```


[파이썬 공식페이지](https://www.python.org/)

In [3]:
a = 10
print(a)

10

**= 대입연산자, == 비교 연산자**
- 대입의 경우, 오른쪽의 수식이나 값을 evaluation(여기서는 계산이라는 의미로 사용)
- 왼쪽에 명시된 변수에 해당 값을 대입
- 변수는 해당 값을 가지게 됨

In [5]:
a = 10 #int
b = 11.4 #float

**comment(주석)**
- 코드에서 #으로 시작하는 뒷 부분은 실행되지 않음
- 개발자가 보기 위한 용도로 사용

**print 함수**
- 함수란 특정 기능을 반복적으로 호출하여 사용가능한 코드블럭
- 해당 변수의 값을 출력
- ,로 여러 변수를 한 줄에 출력
- 기본적으로 한칸 띄어쓰기 후 출력

In [8]:
print(a, b)
print(a, 10, 200, b)

10 11.4
10 10 200 11.4

- print 함수 설정
 - sep:구분자, 각 출력할 변수 사이에서 구별하는 역할
 - end:마지막에 출력할 문자열

In [9]:
print(a, b, 10, 100, sep='*', end='!!')

10*11.4*10*100!!

**변수 값 확인법**
- print() 함수 사용
- 변수 값을 코드의 마지막에 위치시킨 후 실행
 - 이 경우 output으로 변수의 값이 출력

In [11]:
print(a, b)
a = 10
b = 11.4
a
b

10 11.4

11.4

**variable naming (변수 이름 규칙)**
- 숫자로 시작하는 이름을 제외하고 영문 대소문자, _, 숫자로 구성 가능
- 아래의 예제는 모두 valid한 변수 이름
- 일반적으로 해당 변수를 표현하고자 하는 정확하고 간결한 이름을 사용하는 것이 원칙
 - 코드를 더 쉽게 읽을 수 있음
 - e.g) a = 1000 경우보다 student_num = 1000로 명시하는 것이 변수에 대한 이해가 더 빠름

**reserved keywards(예약어)**
- python에서 미리 선점하여 사용중인 키워드
- 변수, 함수, 클래스 등의 사용자 정의 이름으로 사용할 수 없음

**기본 데이터 타입**
- 정수(int)
- 실수(float)
- 문자열(str)
- 불리언(boolean)

**type 함수**
- 해당 변수, 값의 타입(type)을 알고자 할 때 사용

In [12]:
a = 10
b = 11.45
type(a)

int

**None **
- 아무런 값을 갖지 않을 때 사용
- 일반적으로 변수가 초기값을 갖지 않게 하여 해당 변수를 생성할 때 사용
- 기타 언어의 NULL, nil등과 같은 의미로 사용

In [16]:
c = None
print(c)

None

**comparison operator(비교 연산자)**
- 프로그래밍에서 비교를 할 경우 = 대신 == 사용
- <, > (작다, 크다)
- <=, >= (작거나 같다, 크거나 같다)
- == 같다
- != 같지 않다
- 비교 연산자의 결과는 bool 타입

In [18]:
a = 5
b = 4

print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a == b)
print(a != b)

c = a > b
c = True
print(type(c))
print(c)

True
False
True
False
False
True
<class 'bool'>
True

**numbers(숫자형 타입)**
- 정수, 실수로 구성
- 수학의 기본연산자(가감승제) 사용 가능

In [21]:
a = 5
b = 4

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

9
1
20
1.25
1
625

**operator priorities (연산자 우선순위)**
- 기본적인 수학 연산자와 동일
- 강제로 연산을 선수하기 위해선, 괄호() 사용

In [22]:
a = 5
b = 4

print(a + b * 4)
print((a+b) * 4)

21
36

**expression evaluation & assignment (식평가&대입)**
- 변수의 값이 변경되기 위해서는 =를 사용하여 대입이 발생하는 경우만 해당

In [23]:
a = 9
t = a - 3
a = t

print(t)

6

In [24]:
a = 9
a = a - 3

print(a)

6

In [26]:
a = 9
a -= 3   # a = a - 3과 같은 수식

print(a)

6

## string(문자열)
- 여러 개의 문자를 순서대로 나열한 것
- 문자열은 ''(작은 따옴표) 또는 ""(큰 따옴표) 사이에 문자를 넣어서 생성
- 문자열 자체에 ' 또는 "가 있는 경우 각각 그 반대의 기호로 생성

''' ''' 사용하여 표현 가능
- 차이점
 - '', "" -> 한 줄 문자열 표현
 - ''' ''' -> 여러 줄 문자열 표현

In [27]:
a = '"Hello" world'
b = "Hello' world"

print(a)
print(b)

"Hello" world
Hello' world

In [29]:
c = """Hello

world"""

d = '''Hello
world'''

print(c)
print(d)

Hello

world
Hello
world

**escape string(이스케이프 문자)**
- 문자열내의 일부 문자의 의미를 달리하여 특정한 효과를 주는 것
- \n : new line   \t : tab 등

In [31]:
print('Hello World\n\n')
print('Ha\thahaha')

Hello World


Ha	hahaha

**indexing & slicing string (문자열 인덱스 및 추출)**
- 문자열의 각 문자는 순서가 있음
- 이때 각 문자의 순서를 **인덱스**라고 함
- 첫번째 문자부터 마지막까지 차례대로 순서를 가짐
- 첫번째 시작문자의 순서는 0으로 시작 (1이 아님)


- **연습문제** 문자열의 마지막 문자의 순서 값은?

**-1 인덱스**
- 다른 언어와 달리, python은 음수 인덱스를 지원
- -1이 가장 마지막 인덱스를, -2가 마지막에서 두 번째 인덱스를 의미

In [33]:
a = 'Hello World'  #길이 11

print(a[0], a[10])
print(a[-1], a[-11])

H d
d H

**인덱스의 범위**
- 인덱스는 [0, 문자열의 길이)의 범위만 유효
- 음수 인덱스를 사용할 경우 [-문자열의 길이, -1]
- 범위를 넘어갈 경우 에러 발생

**문자열 slicing**
- 인덱스가 하나의 문자만을 추출한다면, slicing은 부분 문자열을 추출
- [시작:끝]과 같이 명시하여 [시작,끝)에 해당하는 부분 문자열 추출
- 시작, 끝 인덱스가 생략되어 있으면 0부터 끝까지로 간주

In [35]:
a = 'Hello world'

print(a[0:11])
print(a[0:1])

print(a[:5])
print(a[3:])

print(a[:])

Hello world
H
Hello
lo world
Hello world

**문자열 함수**
- 문자열은 여러가지 기능을 제공하기 위한 함수 내장
- 함수란 특정 기능을 하는 코드로 언제든지 호출하여 해당 기능을 사용 가능하도록 구성한 코드

In [36]:
a = 'Hello Wolrd'
a.upper()

'HELLO WOLRD'

- **replace**
 - 문자열 내의 특정 문자를 치환

In [1]:
a = 'Hello world'
a.replace('H', 'j')

'Hello world'

- **format**
 - 문자열 내의 특정한 값을 변수로부터 초기화하여 동적으로 문자열 생성

In [40]:
temperature = 11
prob = 0.0

a = '오늘 기온은 {}도, 강수 확률은 {}% 입니다.'.format(temperature, prob)
print(a)

오늘 기온은 11도, 강수 확률은 0.0% 입니다.

- **split**
 - 문자열을 특정한 문자로 구분하여(delimiter) 문자열의 리스트로 치환

In [42]:
a = 'hello world what a nice weather'

print(a.split())
print(a.split('w'))

['hello', 'world', 'what', 'a', 'nice', 'weather']
['hello ', 'orld ', 'hat a nice ', 'eather']

## 리스트& 튜플
- 여러 개의 값을 담을 수 있는 데이터 구조
- 실생활에서 사용하는 리스트(학생 리스트, 성적 리스트 등)과 동일한 의미로 이해
- list - mutable (생성된 후에 변경 가능)
- tuple - immutable (생성된 후에 변경 불가능)

**리스트 초기화**
- [] 안에 값을 담아서 생성
- list() 함수로 생성
- str.split() 함수로 생성

In [43]:
a = []
print(a)

[]

In [44]:
a = [1, 2, 3, 5, 10]
print(a)

[1, 2, 3, 5, 10]

In [45]:
a = ['Korea', 'Canada', 1, 23, [34, 56]]
print(a)

['Korea', 'Canada', 1, 23, [34, 56]]

- **list() 함수**
 - 다른 데이터 타입을 리스트로 변환할 때도 사용

In [46]:
a = 'hello world'
b = list(a)
print(b)

c = (1, 2, 3)
d = list(c)
print(d)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
[1, 2, 3]

- **string split함수**
 - 구분자로 구분되는 리스트를 반환(빈번히 사용)

In [47]:
a = 'hello world nice weather'
b = a.split()

print(b)

['hello', 'world', 'nice', 'weather']

**리스트 indexing**
- 문자열의 인덱싱과 동일
- [] 연산자를 이용하여 항목 얻어오기
- [i] - i번째 원소를 반환
- i가 음수인 경우도 가능하며 마지막 원소를 -1로 하여 앞으로 갈 때마다 1씩 감소

In [49]:
a = [1, 2, 3, 4, 5, 6]
print(a[2], a[5], a[-1])

3 6 6

**리스트 개별 아이템에 접근**
- 인덱스에 접근하여 값을 업데이트 가능

In [50]:
a = 'hello world'
print(a[0])

b = 'j' + a[1:]
c = a.replace('h', 'j')

print(b)
print(c)
print(a)

h
jello world
jello world
hello world

In [52]:
a = [1, 2, 3, 4, 5]
a[0] = 100
a[-1] = 90

print(a)

[100, 2, 3, 4, 90]

**리스트 slicing**
- 문자열 슬라이싱과 동일하게 동작
- 슬라이싱 결과 역시 list

In [58]:
a = [1, 2, 3, 4, 5, 6, 7, 8]

print(a[4:7])
print(a[:7])
print(a[3:])
print(a[:])
print('\n')


# slicing
# start:end:increment

print(a[1:7:2], a[1:7:4], a[1:7:6])

[5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]


[2, 4, 6] [2, 6] [2]

## list 멤버 함수
- 생성된 리스트 객체에 동작하는 함수
- 향후, 클래스와 멤버 함수 개념을 이해할 예정

- **append() 함수**
 - 리스트의 끝에 항목을 추가함

In [59]:
a = [1, 2, 3, 4, 5]
a.append(10)

print(a)

[1, 2, 3, 4, 5, 10]

- **extend()**
 - 리스트를 연장
 - +=로도 가능

In [62]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

a.append(b)
print(a)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

In [63]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

a += b
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- **insert()로 항목 추가**
 - 리스트의 원하는 위치에 추가 가능
 - 앞에 인덱스를, 뒤에 아이템을 명시

In [65]:
a = [1, 3, 4, 5, 6]
a.insert(1, 40)

print(a)

[1, 40, 3, 4, 5, 6]

- **remove()**
 - 값으로 항목 삭제

In [67]:
a = [10, 20, 30, 30, 40, 50]
a.remove(30)

print(a)

[10, 20, 30, 40, 50]

- **pop()**
 - 지우고자 하는 아이템을 반환 후 삭제

In [69]:
a = [1, 2, 3, 4, 5]
d = a.pop(2)

print(a)
print(d)

[1, 2, 4, 5]
3

- **index()**
 - 찾고자 하는 값의 인덱스 반환

In [71]:
a = [2, 5, 6, 7, 9]
a.index(5)

1

- **in 키워드**
 - 리스트 내에 해당 값이 존재하는 지 확인
 - value in [list]
 - True, False 값으로 반환

In [72]:
a = [1, 2, 3, 4, 5, 10]
b = 7
c = b in a
d = 10 in a

print(c)
print(d)

False
True

- **list 정렬**
 - sort() -> 리스트 자체를 내부적으로 정렬
 - sorted() -> 리스트의 정렬된 복사본을 반환

In [76]:
a = [9, 10, 7, 19, 1, 2, 20, 21, 7, 8]
a.sort()
print(a)

a.sort(reverse=True)
print(a)

[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]
[21, 20, 19, 10, 9, 8, 7, 7, 2, 1]
[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]

In [78]:
a = [8, 3, 1, 5, 10, 4]
b = sorted(a)

print(a)
print(b)

[8, 3, 1, 5, 10, 4]
[1, 3, 4, 5, 8, 10]

## tuple
- 리스트와 같이 복수의 값을 갖는 컬렉션 타입
- 생성된 후 변경이 불가능

In [5]:
a = [1, 2, 3]
b = (1, 2, 3)

print(type(a))
print(type(b))

a[0] = 100
print(a)

<class 'list'>
<class 'tuple'>
[100, 2, 3]

** tuple unpacking **
- 튜플의 값을 차례대로 변수에 대입

In [10]:
a, b, c, d = 100, 200, 300, 400
print(a, b, c, d)

100 200 300 400

- ** 연습문제 ** a와 b의 값을 구하시오

In [1]:
a = 5
b = 4
print(a, b)

# logic
# temp = a
# a = b
# b = temp

a, b = b, a
print(a, b)

5 4
4 5

## dictionary
- 키와 값을 갖는 데이터 구조
- 키는 내부적으로 hash값으로 저장
- 순서를 따지지 않음. 즉, 인덱스가 없음

In [6]:
a = {'Korea': 'Seoul',
     'Canada': 'Ottawa',
     'USA': 'Washington D.C'}
print(a)
print(a['Korea'])

b = {0:1, 1:6, 7:9, 8:10}
print(b[0])

{'Korea': 'Seoul', 'USA': 'Washington D.C', 'Canada': 'Ottawa'}
Seoul
1

- ** 항목 추가 및 변경 **
 - 기존에 키가 존재하면, 새로운 값으로 업데이트
 - 존재하지 않으면, 새로운 키, 값 생성

In [9]:
a = {'Korea': 'Seoul',
     'Canada': 'Ottawa',
     'USA': 'Washington D.C'}

a['Japan'] = 'Tokyo'
a['China'] = 'Beijing'

print(a)

a['Japan'] = 'Kyoto'
print(a)

{'Korea': 'Seoul', 'China': 'Beijing', 'USA': 'Washington D.C', 'Japan': 'Tokyo', 'Canada': 'Ottawa'}
{'Korea': 'Seoul', 'China': 'Beijing', 'USA': 'Washington D.C', 'Japan': 'Kyoto', 'Canada': 'Ottawa'}

- ** upate() **
 - 두 딕셔너리를 병합
 - 겹치는 키가 있다면 parameter로 전달되는 값이 overwrite 된다.

In [12]:
a = {'a':1, 'b':2, 'c':3}
b = {'a':2, 'd':4, 'e':5}

a.update(b)

print(a)

{'d': 4, 'a': 2, 'e': 5, 'c': 3, 'b': 2}

- ** key삭제 **
 - del 키워드 사용
 - pop 함수 이용

In [15]:
a = {'a':1, 'b':2, 'c':3}
print(a)

a.pop('b')
del a['c']

print(a)

{'a': 1, 'c': 3, 'b': 2}
{'a': 1}

- ** clear() **
 - 딕셔너리의 모든 값을 초기화

In [18]:
a = {'a':1, 'b':2, 'c':3}
print(a)
a.clear()
print(a)

{'a': 1, 'c': 3, 'b': 2}
{}

- ** in **
 - key값 존재 확인
 - O(1) 연산 - 딕셔너리의 크기와 관계없이 항상 연산의 속도가 일정하다는 의미

In [20]:
a = {'a':1, 'b':2, 'c':3}
print(a)

print('b' in a)
print(2 in a)

{'a': 1, 'c': 3, 'b': 2}
True
False

- ** value access **
 - dict[key]로 접근, 키가 없는 경우 에러 발생
 - .get() 함수로 접근, 키가 없는 경우 None 반환

In [24]:
a = {'a':1, 'b':2, 'c':3}
print(a.get('d'))

None

** 모든 keys, values 접근 **
- keys() - 키만 반환
- values() - 값만 반환
- items() - 키, 값의 튜플을 반환

In [3]:
a = {'a':1, 'b':2, 'c':3}

print(a)
print(list(a.keys()))
print(list(a.values()))

list(a.items())

{'a': 1, 'b': 2, 'c': 3}
['a', 'b', 'c']
[1, 2, 3]

[('a', 1), ('b', 2), ('c', 3)]

## set
- dictionary에서 key만 활용하는 데이터 구조로 이해
- 수학에서 집합과 동일한 개념

In [27]:
a = {1, 1, 2, 3, 3, 4, 1, 5}
print(a)

{1, 2, 3, 4, 5}

- ** set()으로 집합으로 반환 **

In [29]:
a = [1, 1, 2, 3, 3, 4, 1, 5]
print(a)

b = set(a)
print(b)

[1, 1, 2, 3, 3, 4, 1, 5]
{1, 2, 3, 4, 5}

- ** set operations **
 - 수학 연산과 동일
 - 교집합, 합집합, 차집합 등 지원

In [32]:
a = {1, 2, 3}
b = {2, 3, 4}

print(a.union(b)) # 합집합
print(a.intersection(b)) # 교집합
print(a.difference(b)) # 차집합
print(a.issubset(b)) # 부분집합

{1, 2, 3, 4}
{2, 3}
{1}
False