## 학습목표
 1. axis의 이해
 2. axis를 파라미터로 갖는 함수 이해하기

**axis 이해하기**
- 몇몇 함수에는 axis keyword 파라미터가 존재
- axis값이 없는 경우에는 전체 데이처에 대해 적용
- axis값이 있는 경우에는, 해당 axis를 **따라서** 연산 적용

- axis를 파라미터로 갖는 함수를 이용하기
 - 거의 대부분의 연산 함수들이 axis 파라미터를 사용
 - 이 경우, 해당 값이 주어졌을 때 해당 axis를 **따라서** 연산 적용
   - 따라서 결과는 해당 axis가 제외된 나머지 차원의 데이터만 남게 됨
 - 예) np.sum, np.mean, np.any 등

In [2]:
import numpy as np

In [4]:
x = np.arange(15)
print(x)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]

- 1차원 데이터에 적용하기

In [7]:
np.sum(x, axis=0)

105

- 행렬에 적용하기

In [9]:
y = x.reshape(3, 5)
print(y)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]

In [11]:
np.sum(y, axis=0) #열의 합

array([15, 18, 21, 24, 27])

In [12]:
np.sum(y, axis=1) #행의 합

array([10, 35, 60])

- 3차원 텐서에 적용하기

In [16]:
z = np.arange(36).reshape(3, 4, 3)
print(z)

[[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]
  [ 9 10 11]]

 [[12 13 14]
  [15 16 17]
  [18 19 20]
  [21 22 23]]

 [[24 25 26]
  [27 28 29]
  [30 31 32]
  [33 34 35]]]

In [17]:
np.sum(z, axis=0)

array([[36, 39, 42],
       [45, 48, 51],
       [54, 57, 60],
       [63, 66, 69]])

In [19]:
np.sum(z, axis=1)

array([[ 18,  22,  26],
       [ 66,  70,  74],
       [114, 118, 122]])

In [20]:
np.sum(z, axis=2)

array([[  3,  12,  21,  30],
       [ 39,  48,  57,  66],
       [ 75,  84,  93, 102]])

In [21]:
np.sum(z, axis=-1)

array([[  3,  12,  21,  30],
       [ 39,  48,  57,  66],
       [ 75,  84,  93, 102]])

- axis값이 튜플인 경우
 - 해당 튜플에 명시된 모든 axis에 대해서 연산

In [22]:
np.sum(z, axis=(0,1))

array([198, 210, 222])

In [24]:
np.sum(z, axis=(0,2))

array([117, 144, 171, 198])

In [26]:
np.sum(z, axis=(1,2))

array([ 66, 210, 354])

## 학습목표
1. 브로드캐스팅의 이해

In [27]:
import numpy as np

### 브로드캐스팅
- Shape이 같은 두 ndarray에 대한 연산은 각 원소별로 진행
- 연산되는 두 ndarray가 다른 shape을 갖는 경우 브로드캐스팅(shape을 맞춤) 후 진행

**브로드캐스팅 Rule**
- [공식문서](https://docs.scipy.org/doc/numpy/user/basics.broadcasting.html#general-broadcasting-rules)
- 뒷 차원에서부터 비교하여 shape이 같거나, 차원 중 값이 1인 것이 존재하면 가능

![브로드캐스팅 예](https://www.tutorialspoint.com/numpy/images/array.jpg)
    - 출처: https://www.tutorialspoint.com/numpy/images/array.jpg

- shape이 같은 경우의 연산

In [29]:
x = np.arange(15).reshape(3, 5)
y = np.random.rand(15).reshape(3, 5)

print(x)
print(y)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]
[[0.17189758 0.47765036 0.16372914 0.39998938 0.36200153]
 [0.87883343 0.56724129 0.75448442 0.53090711 0.18863771]
 [0.20768535 0.33548317 0.7389815  0.61173011 0.60519087]]

- scalar(상수)와의 연산

In [31]:
x + 0.1

array([[ 0.1,  1.1,  2.1,  3.1,  4.1],
       [ 5.1,  6.1,  7.1,  8.1,  9.1],
       [10.1, 11.1, 12.1, 13.1, 14.1]])

In [32]:
x ** 2

array([[  0,   1,   4,   9,  16],
       [ 25,  36,  49,  64,  81],
       [100, 121, 144, 169, 196]], dtype=int32)

In [33]:
x % 2 == 0

array([[ True, False,  True, False,  True],
       [False,  True, False,  True, False],
       [ True, False,  True, False,  True]])

- shape이 다른 경우 연산

In [43]:
a = np.arange(12).reshape(4, 3)
b = np.arange(100,103)
c = np.arange(1000,1004)
d = b.reshape(1,3)

print(a, a.shape)
print(b, b.shape)
print(c, c.shape)
print(d, d.shape)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]] (4, 3)
[100 101 102] (3,)
[1000 1001 1002 1003] (4,)
[[100 101 102]] (1, 3)

In [35]:
a + b

array([[100, 102, 104],
       [103, 105, 107],
       [106, 108, 110],
       [109, 111, 113]])

In [38]:
a + c #열의 길이가 같아야 함

ValueError: operands could not be broadcast together with shapes (4,3) (4,)

In [44]:
a + d

array([[100, 102, 104],
       [103, 105, 107],
       [106, 108, 110],
       [109, 111, 113]])